<header class="mb-5">
  <section id="slide" class="container Slide">
    <div class="row align-items-center">
      <div class="col-sm">
        <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top ">
          <a class="navbar-brand" href="/home"><img img-fluid src="../public/img/logo.png" alt="Logo GeeksHub Travels"
              class="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuBurguer"
            aria-controls="menuBurguer" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="menuBurguer">
            <ul class="navbar-nav mr-auto menu ">
              <li class="nav-item">
                <a class="nav-link" href="#destinos">Destinos
                  <span class="sr-only"></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#quienesSomos">Quienes somos</a>
              </li>
              <li class="nav-item ocultarDonde">
                <a class="nav-link" href="#formulario">Donde Estamos</a>
              </li>
              <li class="nav-item ocultarLogin">
                <a class="nav-link" href="/users/register">Registro</a>
              </li>
              <li class="nav-item ocultarLogin">
                <a class="nav-link" href="/users/login">Login</a>
              </li>
              <div class="icoSociale">
                <ul class="navbar-nav sociale">
                  <li class="nav-sociale active">
                    <a class="nav-link" href="#">
                      <i class="fa fa-facebook-square" style="font-size:20px;"></i></a>
                  </li>
                  <li class="nav-sociale active">
                    <a class="nav-link" href="#">
                      <i class="fa fa-instagram" style="font-size:20px;"></i></a>
                  </li>
                  <li class="nav-sociale active">
                    <a class="nav-link" href="#">
                      <i class="fa fa-twitter-square" style="font-size:20px;"></i></a>
                  </li>
                  <li class="nav-sociale active">
                    <a class="nav-link" href="#">
                      <i class="fa fa-linkedin-square" style="font-size:20px;"></i></a>
                  </li>
                  <li class="nav-sociale active">
                    <a class="nav-link" href="#">
                      <i class="fa fa-whatsapp" style="font-size:20px;"></i></a>
                  </li>
                  <li class="nav-sociale active">
                    <a class="nav-link" href="#">
                      <i class="fa fa-youtube-play" style="font-size:20px;"></i></a>
                  </li>
                </ul>
              </div>
        </nav>
      </div>
    </div>
  </section>
  <section id="Slide">

    <div id=textSlide class="col-sm-6">
      <h1>Viaja!</h1>
      <h3>Descubre lugares maravillosos!</h3>
      <button class="btn btn-warning">ver destinos</button>
    </div>

  </section>
</header>


<section class="grid-section" id="destinos">
  <!-- Seccion sin carrusel-->
  <div class="container-fluid bg-3 text-center visibleT">
    <div class="row">
      <div class="col-md-4">
        <div class="card border-light mb-3">
          <div class="card-body toptitle bg-dark">
            <h4 class="card-title text-white">Save 75$ pay only</h4>
            <span class="bg-warning">729$</span>
          </div>
          <img class="card-img-top"
            src="https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/United%20Kingdom/London/london-aerial-thames-guide-xlarge.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">London</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-light mb-3">
          <div class="card-body toptitle bg-dark">
            <h4 class="card-title text-white">Save 35$ pay only</h4>
            <span class="bg-warning">519$</span>
          </div>
          <img class="card-img-top"
            src="https://media-cdn.tripadvisor.com/media/photo-s/13/91/4b/da/the-quats-temple-bar.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Dublin</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-light mb-3">
          <div class="card-body toptitle bg-dark">
            <h4 class="card-title text-white">Save 90$ pay only</h4>
            <span class="bg-warning">359$</span>
          </div>
          <img class="card-img-top" src="https://www.atrapalo.com/common/photo/dh/519/0/si_560_460.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Mykonos</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-light mb-3">
          <div class="card-body toptitle bg-dark">
            <h2 class="card-title text-white">Save 50$ pay only</h4>
              <span class="bg-warning">659$</span>
          </div>
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2019/08/16/16/45/colosseum-4410637_960_720.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Roma</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-light mb-3">
          <div class="card-body toptitle bg-dark">
            <h4 class="card-title text-white">Save 95$ pay only</h4>
            <span class="bg-warning">199$</span>
          </div>
          <img class="card-img-top"
            src="https://cadenaser00.epimg.net/ser/imagenes/2018/12/04/internacional/1543942817_107745_1543944283_noticia_normal.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Amsterdam</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-light mb-3">
          <div class="card-body toptitle bg-dark">
            <h4 class="card-title text-white">Save 65$ pay only</h4>
            <span class="bg-warning">329$</span>
          </div>
          <img class="card-img-top" src="https://www.cremadescalvosotelo.com/sites/default/files/paris.png"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Paris</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Seccion con carrusel  -->

  <div class="container bg-3 text-center visibleCarr">
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="col-md-4">
              <div class="card border-light mb-3">
                <div class="card-body toptitle bg-dark">
                  <h4 class="card-title text-white-carr">Save 90$ pay only</h4>
                  <span class="bg-warning">359$</span>
                </div>
                <img class="card-img-top" src="https://www.atrapalo.com/common/photo/dh/519/0/si_560_460.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Mikonos</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card border-light mb-3">
                <div class="card-body toptitle bg-dark">
                  <h4 class="card-title text-white-carr">Save 75$ pay only</h4>
                  <span class="bg-warning">729$</span>
                </div>
                <img class="card-img-top"
                  src="https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/United%20Kingdom/London/london-aerial-thames-guide-xlarge.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">London</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card border-light mb-3">
                <div class="card-body toptitle bg-dark">
                  <h4 class="card-title text-white-carr">Save 65$ pay only</h4>
                  <span class="bg-warning">329$</span>
                </div>
                <img class="card-img-top" src="https://www.cremadescalvosotelo.com/sites/default/files/paris.png"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Paris</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card border-light mb-3">
                <div class="card-body toptitle bg-dark">
                  <h4 class="card-title text-white-carr">Save 50$ pay only</h4>
                  <span class="bg-warning">659$</span>
                </div>
                <img class="card-img-top"
                  src="https://cdn.pixabay.com/photo/2019/08/16/16/45/colosseum-4410637_960_720.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Rome</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card border-light mb-3">
                <div class="card-body toptitle bg-dark">
                  <h4 class="card-title text-white-carr">Save 95$ pay only</h4>
                  <span class="bg-warning">199$</span>
                </div>
                <img class="card-img-top"
                  src="https://cadenaser00.epimg.net/ser/imagenes/2018/12/04/internacional/1543942817_107745_1543944283_noticia_normal.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Amsterdam</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card border-light mb-3">
                <div class="card-body toptitle bg-dark">
                  <h4 class="card-title text-white-carr">Save 35$ pay only</h4>
                  <span class="bg-warning">519$</span>
                </div>
                <img class="card-img-top"
                  src="https://media-cdn.tripadvisor.com/media/photo-s/13/91/4b/da/the-quats-temple-bar.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Dublin</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="quienes-somos mb-5" id="quienesSomos">
  <div id="quienesSomos">
    <h2>QUIENES SOMOS</h2>
    <p>GeeksHubs Travels es una agencia de viajes online creada en 2009 por un equipo de viajeros entusiastas que
      deciden hacer de su pasión por conocer el mundo un modo de vida. Desde nuestros inicios hemos diseñado más de
      500 viajes organizados a diferentes destinos de Europa, Norteamérica y Asia. Nuestro objetivo ahora es ir
      ampliando horizontes poco a poco.</p>
    <button>DESCUBRIR</button>
  </div>
</section>

<section class="section pb-5 formulario" id="formulario">
  <div class="row">
    <div class="col-lg-5 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="form-header blue accent-1">
            <p class="mb-1"> E: enquiry@artiotravel.com</p>
            <p> P: 0264 123 4567</p>
          </div>
          <p>Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.
          </p>
          <p>We are open from 8.30 AM -- 4.00 PM week days.</p>
          <hr>
          <form>
            <div class="row mb-3">
              <div class="col md-form">
                <input type="text" id="form-name" class="form-control" placeholder="Name*" required>
              </div>
              <div class="col md-form">
                <input type="text" id="form-email" class="form-control" placeholder="Email*" required>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col md-form">
                <input type="number" id="form-Phone" class="form-control" placeholder="Phone">
              </div>
              <div class="col md-form">
                <input type="text" id="form-Country" class="form-control" placeholder="Country">
              </div>
            </div>
            <div class="md-form">
              <textarea id="form-text" class="form-control md-textarea" rows="3" placeholder="Message"></textarea>
              <label for="form-text">* PLEASE COMPLETE ALL FIELDS CORRECTLY</label>
            </div>
            <div class="text-center mt-4">
              <button type="button" class="btn btn-warning">Enviar mensaje</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 580px">
        <iframe src="https://maps.google.com/maps?q=new%20delphi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->
<div class=footercontent>
  <div class=ayuda>
    <h7>¿Necesitas ayuda?<br>
      0264 123 4567<br>
      enquiry@geekshubstravels.com<br><br></h7>
    <p><em>Lun-Vie: 9:30-19:00 Sab: 10:00-14:00</em></p>
  </div>


  <div class=informacion>

    <h7>INFORMACIÓN</h7><br>
    <a href="quienesSomos.html">Quienes somos</a> <br>
    <a href="preguntasFrecuentes.html">Preguntas frecuentes</a> <br>
    <a href="politicaPrivacidad.html">Política de privacidad</a> <br>
    <a href="condicionesGenerales.html">Condiciones generales</a><br>
    <a href="avisoLegal.html">Aviso Legal</a><br>
    <a href="contacto.html">Contacto</a><br>
    <a href="programaDePuntos.html">Programa de puntos </a> <br>
  </div>

  <div class=suscripcion>

    <h7>SUSCRÍBETE A LA NEWSLETTER</h7><br><br>
    <input type="mail" placeholder="correo electrónico"><br><br>
    <button class="button">Suscribirse</button>

  </div>
</div>

<div class=footerderechos>
  <p>GeeksHubs Travels 2018 Todos los derechos reservados.</p>
</div>