.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* #quienesSomos {
  margin: auto;
  padding: 68px 0;
  width: 80%;
  background-image: url(https://cr00.epimg.net/programa/imagenes/2017/12/16/a_vivir_que_son_dos_dias/1513447257_811691_1513449851_noticia_normal.jpg);
  color: #222743;
}

.quienes-somos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1em;
  width: 80%;
  background-color: white;
  text-align: justify;
}

.quienes-somos h2 {
  text-decoration-line: underline;
  text-decoration-color: #fef200;
  align-self: flex-start;
}

.quienesSomos button {
  margin: auto;
  background-color: #141939;
}
*/




#Slide {
  background: url(./ilha.jpg) no-repeat center top;
  height: 100vh;
  padding: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#textSlide {
  width: 60vw;
  display: block;
  align-items: center;
  align-content: center;
  color: white;
}

#textSlide .btn {
  margin-top: 20px;
}

.text-white {
  font-size: 1.5rem;
}

/* #dondeEstamos {
  padding: 90px 0;
} */

/* .grid-section {
  margin-top: 5rem;
  margin-bottom: 3rem;
} */

.bg-warning {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 5.5rem;
  width: 5.5rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
}



.promo-foto {
  margin-right: 4rem;
  font-size: 1.1rem;
}

/* .formulario {
  margin-top: 4rem;
}

.map-container-6 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-6 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
} */
/* 
.col-md-4 {
  max-height: 100%;
  object-fit: fill;
} */
/* 
.card-img-top {
  object-fit: fill;
  max-height: 256px;
} */



#estasregistrado {
  color: whitesmoke;
}

/* .visibleT {
  visibility: visible;
  z-index: 1;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .visibleCarr {
    display: none;
  }
}

@media (max-width: 768px) {
  .visibleT {
    display: none;
  }

  .toptitle {
    text-align: center;
  }

  .visibleCarr {
    visibility: visible;
    margin-top: 0rem;
  }

  .text-white-carr {
    color: white;
    font-size: 1.8rem;
  }

  .bg-warning {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 6.5rem;
    width: 6.5rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
  }

  .paraCarr {
    width: 50rem;
    height: 40rem;
  }
} */

/* @media (max-width: 576px) { */
  /* .visibleT {
    display: none;
  }

  .visibleCarr {
    visibility: visible;
    margin-top: 0rem;
  } */

  /* .bg-warning {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 6.5rem;
    width: 6.5rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
  }

  .paraCarr {
    width: 50rem;
    height: 40rem;
  }

  .quienes-somos {
    margin-bottom: 3rem;
  }

  .toptitle {
    text-align: center;
  }

  .text-white-carr {
    color: white;
    font-size: 1.8rem;
  }
} */
/* 
@media (min-width:1300px) {
  .toptitle {
    text-align: left;
  }
}

@media (max-width:1300px) {
  .toptitle {
    text-align: left;
  }
}

@media (max-width:1068px) {
  .toptitle {
    text-align: left;
  }

  .text-white {
    font-size: 1.4rem;
  }
} */

@media (max-width: 992px) {
  .text-white {
    font-size: 1.2rem;
  }

  .formulario {
    display: none;
  }
}
/* 
@media (max-width:928px) {
  .text-white {
    font-size: 1rem;
  }
}

@media (max-width:868px) {
  .text-white {
    font-size: 0.8rem;
  }
} */